:root {
	--myWhite: #f3f3f3;
	--myBlack: #131313;
}

html {
    height: 100%;
}

body {
    background: linear-gradient(to right, rgb(89, 99, 243), rgb(26, 29, 71));  
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    min-height: 100%;
}

nav {
    display: grid;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
}

nav div {
    display: flex;
    grid-template-columns: 1fr;
    background-color: var(--myWhite);
    border-radius: 50px;
    width: 80px;
    margin: 0 50px;
}

nav img {    
    width: 30px;
    margin: 5px;
    transition: 400ms;
    cursor: pointer;
}

nav img:hover {
    filter: brightness(70%);
}

.score-container, .title-container {
    width: 50%;
    margin: 0 auto;
}


.score {
    display: flex;
    align-items: center;
    justify-content: center;
}


.player {
    font-size: 24px;
    font-weight: bolder;
}

.scorePlayer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 11rem;
    height: 11rem;    
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
    background-color: var(--myBlack);
    color: var(--myWhite);
}

.scorePlayer h2{
    font-size: 100px;
}

.max-point {
    margin: 0 10px;
}


button {
    font-weight: 900;
    width: 180px;
    margin: 0 auto;
}